.bg-dark {
  background-color: rgb(56, 56, 56);
}

.text-primary {
  color: azure;
  font-weight: bold;
  padding-left: 10px;
}

.custom-image {
  padding: 10px;
  width: calc(100% - 20px);
  border-radius: 20px;
}

.custom-buttons button,
.custom-buttons div {
  color: white;
  border-color: azure;
}

.custom-buttons button:hover {
  -webkit-box-shadow: 0px -1px 23px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 23px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 23px -10px rgba(0, 0, 0, 0.75);
}
